on: push

jobs:
  publish_site:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - run: npm install graceful-fs@latest --save
    - run: npm install -g gitbook-cli
    - run: gitbook -V
    - run: pwd
    - run: ls -a
    - run: ./publish.sh
